$myFont: Helvetica, sans-serif;
$myColor:pink;
$myColor1:rgb(88, 224, 60);
$myFontSize: 18px;
$myWidth: 680px;
$myborder: 1px solid black;

p {
  $myColor:red !global; // variable scope inside block only
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;  //red
 
}
h1{
     color:$myColor;    //refers to the global  so color 
     // pink
}

#container {
  width: $myWidth;
  border: $myborder;

}  