@import "mystyle";//by using import we can add another file  
nav {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        cursor: pointer;
        color: black;
        text-decoration: none;
    }

    li:hover {
        color: greenyellow;
        text-decoration: underline;
    }

    a {
        display: block;

    }

}

p {//we can group the properties of  same element
    font: {
        family: Helvetica, sans-serif;
        size: 18px;
        weight: bold;

    }
    text: { 
        align: center;
        transform: lowercase;
        overflow: hidden;
    }
}